.jumbotron a {
  text-decoration: none;
}

.jumbotron-bg-cover {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
}

.jumbotron-shadow {
  text-shadow: #000 2px 2px 3px;
}
