@import '~bootstrap/scss/functions';
@import 'variables';
// @import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.min.css';

// components
@import 'navbar';
@import 'navigation';
@import 'tables';

// global
body {
  font-family: 'Lato', sans-serif;
}

.sticky {
	position: sticky;
	top: $spacer;
}
