@import 'fonts';
@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'print';

// global
@import 'mixins/gradients';

.sticky {
  position: sticky;
  top: $spacer;
}

.sticky-top {
  position: sticky;
}

// components
@import 'banner';
@import 'breadcrumbs';
@import 'buttons';
@import 'cards';
@import 'jumbotron';
@import 'links';
@import 'navbar';
@import 'navigation';
@import 'rte';
@import 'tables';

//
#hc-footer {
  @include gradient-bg($secondary, 2%);
}
