@import 'fonts';
@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.min.css';

// global
@import 'mixins/gradients';

.sticky {
	position: sticky;
	top: $spacer;
}

.sticky-top {
	position: sticky;
}

// external links
a[target=_blank]:after {
  font-family: 'Segoe UI Symbol' !important;
  content: " \29C9";
}

// components
@import 'banner';
@import 'breadcrumbs';
@import 'buttons';
@import 'cards';
@import 'jumbotron';
@import 'navbar';
@import 'navigation';
@import 'rte';
@import 'tables';

//
#hc-footer {
  @include gradient-bg($secondary, 2%);
}
